#commandLine,
#commandLineHints {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 32px;
  background-color: $black;
  color: $aquamarine;
  font-family: $paragraphFont;
  line-height: 32px;
  font-size: 16px;
  opacity: 0.6;

  &::before {
    content: ":";
    padding: 0 4px;
  }

  &.visible {
    display: block;
  }
}

#commandLine {
  text-shadow: 0 0 2px $lightSeagreen;

  span {
    border-right: 1px solid $lightSeagreen;
    animation: blinkingCursor .9s linear infinite;
    min-width: 2px;
  }
}

#commandLineHints {
  transition: all 0.3s ease-in-out;

  &.alertMode {
    display: block;
    height: unset; // This removes the animation but enables dynamic height. Fair tradeoff.
    max-height: 80vh;
    opacity: .95;

    &.confirm {
      &::before {
        content: "☑";
      }
    }

    &.error {
      &::before {
        content: "!";
      }
    }

    &.help {
      &::before {
        content: "?";
      }
    }

    button {
      border: 0;
      padding: 4px;
      margin-right: 8px;

      &.confirm {
        background-color: $red;
      }

      &.decline {
        background-color: $clearBlue;
      }
    }

    code {
      background-color: $orange;
    }

    div {
      padding: 0 1em;
      color: $white;
      font-weight: 200;
    }
  }
}

#gameWrapper {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: .8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  iframe {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    background-color: rgba($color: #000000, $alpha: .5);
    border-width: 4px;
    border-style: inset;
    border-color: #ae5b20;
    transition: all 1s ease-in;

    &.closed {
      top: 50vh;
      left: 50vw;
      width: 0;
      height: 0;
    }
  }
}

#ajour,
#tivo {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  z-index: 100000;
  padding: 32px;
}

@keyframes blinkingCursor {
  0% {
    border-right: 1px solid $lightSeagreen;
  }
  50% {
    border-right: 0;
  }
}

html.noJS {
  #commandLine,
  #commandLineHints {
    display: none!important;
  }
}
