// Colors
$aquamarine: #74edc4;
$black: #0e070c;
$blue: #3f5469;
$blueGray: #5a6c7e;
$clearBlue: #0dbeff;
$darkGray: #2d3238;
$dirtyYellow: #b1b098;
$gray: #aa9f9f;
$honeydew: #ecffea;
$lightBrown: #dfcece;
$lightSeagreen: #8bd1cd;
$lightWhite: #fffffb;
$mutedPink: #fff1f1;
$mutedPinkTransparent: #fff1f155;
$orange: #b55603;
$red: #e30000;
$white: #fffcfc;

$linkBlue: rgb(85, 26, 139);
$linkPurple: rgb(0, 0, 238);

@mixin lightTheme() {
  --alert-bgcolor: #{$mutedPink};
  --box-bgcolor: #{$lightWhite};
  --box-shadow: #{$mutedPinkTransparent};
  --code-bgcolor: #{$mutedPink};
  --code-color: #{$black};
  --crumb-bordercolor: #{$darkGray};
  --h1-underlinecolor: #{$black};
  --input-bgcolor: #{$white};
  --input-color: #{$black};
  --link-visited: #{$linkPurple};
  --link: #{$linkBlue};
  --meta-color: #{$blue};
  --search-bgcolor: #{$lightSeagreen};
  --search-color: #{$black};
  --search-hovercolor: #{$aquamarine};
  --search-placeholder: #{$gray};
  --site-bgcolor: #{$white};
  --site-color: #{$black};
  --table-accentcolor: #{$mutedPink};
  --table-bgcolor-even: #{$lightWhite};
  --table-bgcolor-odd: #{$mutedPinkTransparent};
  --table-color: #{$black};
  --taxonomy-hightlight: #{$honeydew};
}

@mixin darkTheme() {
  --alert-bgcolor: #{$orange};
  --box-bgcolor: #{$honeydew};
  --box-shadow: rgba(14, 7, 12, .2);
  --code-bgcolor: #{$blue};
  --code-color: #{$lightSeagreen};
  --crumb-bordercolor: #{$mutedPinkTransparent};
  --h1-underlinecolor: #{$orange};
  --input-bgcolor: #{$gray};
  --input-color: #{$black};
  --link-visited: #{$dirtyYellow};
  --link: #{$lightSeagreen};
  --meta-color: #{$aquamarine};
  --search-bgcolor: #{$blue};
  --search-color: #{$white};
  --search-hovercolor: #{$clearBlue};
  --search-placeholder: #{$lightWhite};
  --site-bgcolor: #{$darkGray};
  --site-color: #{$white};
  --table-accentcolor: #{$blue};
  --table-bgcolor-even: #{$darkGray};
  --table-bgcolor-odd: #{$blueGray};
  --table-color: #{$white};
  --taxonomy-hightlight: #{$lightSeagreen};
}

// Theme
:root {
  @include lightTheme;

  &.dark {
    @include darkTheme;
  }

  &.light {
    @include lightTheme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkTheme;
  }
}

// Fonts
$headerFont: "Gangster Grotesk", Helvetica, sans-serif;
$paragraphFont: "Victor Mono", "Courier New", monospace;

@keyframes linkArrowsA {
  25% {
    content: "->";
  }
  50% {
    content: "-->";
  }
  75% {
    content: "---";
  }
  100% {
    content: "- -";
  }
}

@keyframes linkArrowsB {
  50% {
    content: "\00a0>\00a0";
  }
  75% {
    content: "\00a0\00a0>";
  }
  100% {
    content: "\00a0\00a0\00a0";
  }
}

@keyframes linkArrowsC {
  0% {
    content: ">";
  }
  20% {
    content: "\00a0〉";
  }
  40% {
    content: "\00a0\00a0|";
  }
  60% {
    content: "\00a0\00a0\00a0〉";
  }
  80% {
    content: "\00a0\00a0\00a0\00a0>";
  }
  100% {
    content: "\00a0\00a0\00a0\00a0\00a0-";
  }
}
