$black: #0e070c;
$blue: #3f5469;
$blueGray: #5a6c7e;
$darkGray: #2d3238;
$dirtyYellow: #b1b098;
$gray: #aa9f9f;
$lightGray: #dfcece;
$lightSeagreen: #8bd1cd;
$mutedPink: #fff1f1;
$mutedPinkTransparent: #fff1f155;
$orange: #e76f51;
$red: #e30000;
$white: #fffcfc;
