@font-face {
  font-family: 'Gangster Grotesk';
  src: url('/fonts/GangsterGrotesk-Bold.woff2') format('woff2'),
      url('/fonts/GangsterGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gangster Grotesk';
  src: url('/fonts/GangsterGrotesk-Light.woff2') format('woff2'),
      url('/fonts/GangsterGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gangster Grotesk';
  src: url('/fonts/GangsterGrotesk-Regular.woff2') format('woff2'),
      url('/fonts/GangsterGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/VictorMono-Light.woff2') format('woff2'),
      url('/fonts/VictorMono-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/VictorMono-Thin.woff2') format('woff2'),
      url('/fonts/VictorMono-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/VictorMono-LightOblique.woff2') format('woff2'),
      url('/fonts/VictorMono-LightOblique.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/VictorMono-ThinOblique.woff2') format('woff2'),
      url('/fonts/VictorMono-ThinOblique.woff') format('woff');
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: '3270';
  src: url('/fonts/3270-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spitlo_f1';
  src: url('/fonts/spitlo_f1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
