body {
  &.showLinkNumbers {
    ul.projectList,
    ul.tagList,
    ul.taxonomies {
      li {
        @for $i from 1 through 9 {
          &:nth-of-type(#{$i}) {
            a.numberedLink::after {
              content: "#{$i}";
            }
          }
        }
      }
    }

    a.numberedLink {
      position: relative;

      &::after {
        border-radius: 3px 0 0 0;
        padding-left: 1px;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 15px;
        height: 15px;
        background-color: $orange;
        color: $white;
        border: 1px solid $red;
        font-size: 10px;
        text-align: center;
      }
    }

    ul.tagList {
      a.numberedLink::after {
        top: -3px;
        left: -7px;
      }
    }

    ul.taxonomies {
      a.numberedLink::after {
        top: -18px;
        left: 0;
      }
    }

    // details ul {
    //   a.numberedLink::after {
    //     top: 4px;
    //     left: -20px;
    //   }
    // }
  }
}
