#search {
  border: 1px solid $mutedPink;
  margin: 0 6px 0 4px;
  width: 30px;
  height: 30px;
  transition: width 0.2s ease-out;
  padding: 0 8px;
  font-family: $headerFont;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--input-color);
  background-color: var(--input-bgcolor);

  &:focus {
    width: 140px;
  }

  &::placeholder {
    color: transparent;
  }
}

#searchResults {
  display: none;
  position: absolute;
  background-color: var(--search-bgcolor);
  color: var(--search-color);
  font-size: .8rem;
  padding: 0;
  margin: 0;
  z-index: 1;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: .5em;
      position: relative;
      border-bottom: 1px dashed $white;

      &:hover {
        background-color: var(--search-hovercolor);
      }

      &.selected {
        background-color: var(--search-hovercolor);

        .help {
          display: block;
        }
      }

      .title {
        color: $honeydew;
      }

      .teaser {
        font-weight: 300;
      }

      .help {
        display: none;
        border: 1px solid $honeydew;
        border-radius: 3px;
        color: $honeydew;
        background-color: var(--search-hovercolor);
        position: absolute;
        bottom: 8px;
        right: 7px;
        font-size: 10px;
        padding: 2px 4px 2px 5px;
      }

      .title::before {
        margin-right: 8px;
      }

      .code {
        .title::before {
          content: "□";
        }
      }
      .music {
        .title::before {
          content: "△";
        }
      }
      .tags, .root {
        .title::before {
          content: "○";
        }
      }

      &.selected, &:hover {
        .code {
          .title::before {
            content: "■";
          }
        }
        .music {
          .title::before {
            content: "▲";
          }
        }
        .tags, .root{
          .title::before {
            content: "●";
          }
        }
      }
    }
  }
}

html.noJS {
  header .logo {
    .slash,
    #questionMark,
    #search,
    #searchResults {
      display: none;
    }
  }
}

@media (max-width: 680px) {
  header .logo {
    .slash,
    #questionMark {
      display: none;
    }

    #search {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      border-bottom: 1px dashed $dirtyYellow;
      width: 100%;
      height: 34px;
      line-height: 34px;
      margin: 0;
      z-index: 1;

      &::placeholder {
        color: var(--search-placeholder);
        opacity: 1;
      }
    }

    #searchResults {
      position: fixed;
      top: 34px;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: left;
      bottom: 0;
      overflow-y: auto;
    }
  }
}
