@import "constants";

@keyframes linkArrows {
  25% {
    content: "->";
  }
  50% {
    content: "-->";
  }
  75% {
    content: "---";
  }
  100% {
    content: "- -";
  }
}

.project.code {
  .technologies {
    margin-bottom: .6em;

    span.label {
      color: $orange;
      font-family: "Gangster Grotesk";
      font-weight: bold;
      font-size: .8em;
      text-transform: uppercase;
      vertical-align: top;
    }
    svg {
      fill: $orange;
    }
  }

  .excerpt {
    a.continue {
      font-size: .6em;
      text-transform: uppercase;

      &:after {
        content: ">";
        display: inline-block;
        margin-left: 2px;
      }
      &:hover {
        &:after {
          animation: linkArrows .5s linear infinite;
        }
      }
    }
  }
}
