@import "constants";

.project.code,
.term.code {
  .technologies {
    margin-bottom: .6em;

    span {
      margin-right: .5em;
      &.label {
        color: $orange;
        font-family: "Gangster Grotesk";
        font-weight: bold;
        font-size: .8em;
        text-transform: uppercase;
        vertical-align: top;
      }
    }
    svg {
      fill: $orange;
    }
  }

  .excerpt {
    a.continue {
      font-size: .6em;
      text-transform: uppercase;

      &:after {
        content: ">";
        display: inline-block;
        margin-left: 2px;
      }
      &:hover {
        &:after {
          animation: linkArrowsA .5s linear infinite;
        }
      }
    }
  }
}

ul.meta {
  font-family: "Victor Mono", monospace;
  font-size: .8em;
  margin-left: -3px;
  margin-bottom: 2.8em;
  max-width: 55rem;
  list-style-type: none;
  padding-left: 0;

  time, .words, .tech, .repo {
    white-space: nowrap;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  .label {
    color: $blue;
    padding: 0 3px;
    text-transform: uppercase;

    &::before {
      content: "| ";
    }
  }
}
