@import "constants";

// This is for content specific styles. To add a custom content class
// to a page, add an [extra] section to the page’s front matter like this:
// [extra]
// content_class = "custom-class-name"

.contentWrapper.stromata {
  ul {
    list-style-type: none;
    padding-left: 1em;

    &.meta {
      padding-left: 0;
    }
  }
}

.contentWrapper.tagPage {
  ul.taxonomies {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-size: 1em;

    h2 {
      margin-top: 0;
    }
  }
}

.contentWrapper.home-2021-04-29 {
  .introduction {
    padding: 1.6em;
    background: $blueGray;
    color: $lightWhite;
    border: 1px solid $mutedPink;
    max-width: 48rem;
    font-weight: 300;

    p {
      margin: 0;
    }
  }
}

.contentWrapper.home-1 {
  svg {
    max-width: 80vw;

    .text {
      font-family: $paragraphFont;
      font-size: 2em;;
      fill: 0;
    }

    a.circleButton:hover {
      .text, circle {
        fill: $honeydew;
      }
    }
    a.rectButton:hover {
      .text, rect {
        fill: $blueGray;
      }
    }
    a.polygonButton:hover {
      .text, polygon {
        fill: $lightSeagreen;
      }
    }
  }
}
