@import "constants";

.looper {
  max-width: 388px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 10px;
    border: 0;
    border-radius: 2px;
    background-color: var(--button-bgcolor);
    color: var(--site-color);

    &.loading {
      background: linear-gradient(100deg, #ccc 10%, #fff 20%, #ccc 30%);
      background-size: 200% 100%;
      animation: 1s sweepie linear infinite;
    }
    
    &.playing {
      background-color: $lightSeagreen;
    }

    &.stop,
    &.mute {
      &:active {
        background-color: $mutedPink;
      }
    }
  }

  a.download {
    background: var(--button-bgcolor);
    padding: 10px;
    border-radius: 2px;

    &:active {
      background-color: $mutedPink;
    }
  }
}

@keyframes sweepie {
  to {
    background-position-x: -200%;
  }
}
