@import "constants";

body.print {
  font-size: .8rem!important;
  background-image: none!important;

  header#top,
  // nav.breadcrumbs,
  footer#bottom,
  .heel {
    display: none;
  }

  a {
    color: $black;
  }

  code, pre {
    background-color: transparent;
    padding-left: 0;

    &#printHeader {
      display: block;
    }
  }

  details {
    &.toc {
      summary {
        text-decoration: underline;

        &::marker {
          color: $white;
        }
      }
    }
  }

  h1 {
    display: none;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 900;
    border-bottom: 1px solid $black;
    display: inline-block;

    a {
      text-decoration: none;

      &.anchor {
        display: none;
      }
    }
  }

  nav.breadcrumbs {
    margin-top: 1rem;

    &::before {
      font-family: $paragraphFont;
      font-size: .9em;
      content: "SPITLO.COM: ";
    }

    .crumb {
      background: none;
      color: $black;

      &.current {
        border: none;
      }
    }
  }
}
