<div id="help">
  <h2>Help</h2>
  <h3>Keyboard shortcuts</h3>
  <dl>
    <dt>
      <code>H</code>,
      <code>C</code>,
      <code>M</code>,
      <code>T</code>
    </dt>
    <dd>
      Navigate to Home, Code, Music or Tags, respectively
    </dd>

    <dt>
      <code>&lt;</code> and <code>&gt;</code>
    </dt>
    <dd>
      Navigate to previous or next article where applicable
    </dd>

    <dt><code>Ctrl+[1-9]</code></dt>
    <dd>Navigate to the first nine content links. Pressing <code>Ctrl</code> reveals the links</dd>

    <dt>
      <code>/</code>
    </dt>
    <dd>
      Enter search mode
    </dd>

    <dt>
      <code>:</code>
    </dt>
    <dd>
      Enter command mode. Type <code>help</code> for help.
    </dd>

    <dt>
      <code>?</code>
    </dt>
    <dd>
      Show this window
    </dd>

    <dt><code>Esc</code></dt>
    <dd>Close this window</dd>
  </dl>
</div>
