{% import "macros.html" as macros %}

<li>
  <a href="{{ project.permalink }}" class="numberedLink">
    <h2>{{ project.title }}
      {% if project.components and main_section == "tags" %}
        <div class="postedIn">
          {% if 'code' in project.components %}
            <span>code</span>
          {% endif %}
          {% if 'music' in project.components %}
            <span>music</span>
          {% endif %}
        </div>
      {% endif %}
    </h2>
  </a>
  
  {% if project.taxonomies.technologies %}
    <div class="taxonomy">
      <span class="label">Tech:</span>
      {% for tech in project.taxonomies.technologies %}
        {{ macros::icon(name=tech, size="small") }}
      {% endfor %}
    </div>
  {% elif project.taxonomies.categories %}
    <div class="taxonomy">
      <span class="label">Categories:</span>
      {% for cat in project.taxonomies.categories %}
        {{ macros::icon(name=cat, size="small", type="remix") }}
      {% endfor %}
    </div>
  {% endif %}
  
  {% if project.description %}
    <div class="excerpt">
      _<br>
      {{ project.description }}
      <br>
      <a class="continue" href="{{ project.permalink }}">More about {{ project.title }}</a>
    </div>
  {% elif project.content %}
    <div class="excerpt">
      _<br>
      {{ project.content | safe | striptags | truncate(length=100) }}
      <br>
      <a class="continue" href="{{ project.permalink }}">More about {{ project.title }}</a>
    </div>
  {% endif %}
</li>
