{% extends "index.html" %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a class="crumb" href="/">Home</a>
    <span class="divider">&gt;</span>
    <a class="crumb" href="/tags/">Tags</a>
    <span class="divider">&gt;</span>
    <a class="crumb" href="/technologies/">Technologies</a>
    <span class="divider">&gt;</span>
    <span class="crumb current">{{ term.name }}</span>
  </nav>
{% endblock breadcrumbs %}

{% block content %}
  <section class="term code">
    <h1>Tech: {{ term.name }}</h1>
    <ul class="projectList technologies">
      {% for project in term.pages %}
        {% include "partials/list-project.html" %}
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
