#gameWrapper br {
  content: '';
  display: block;
  margin-bottom: 2vh;
}

#gameWrapper .img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  font-family: monospace;
  transform: translateX(-50%);
  line-height: 1vh;
}

#gameWrapper .room-name {
  margin-top: 7.5vh;
  font-family: monospace;
  font-size: 3.5vh;
}

#gameWrapper .title {
  font-family: monospace;
  font-size: 12vh;
  margin-bottom: 2.5vh !important;
  line-height: 9.5vh;
}

#gameWrapper #output {
  padding: 2vw 2vw 0 2vw;
}

#gameWrapper #output div {
  margin-bottom: 1vw;
}

#gameWrapper .input {
  display: flex;
}

#gameWrapper #input {
  height: 4vh;
  width: 98.5vh;
  color: lightskyblue;
  background: transparent;
  font-size: 2.5vh;
  font-family: sans-serif;
  border: none;
  position: relative;
  bottom: 0.175vh;
  margin-left: .5vw;
}

#gameWrapper .ml-2 {
  margin-left: 2vw;
}

#gameWrapper #input:focus {
  outline: none;
}

/* color the user's input & links */
#gameWrapper .user, #gameWrapper a {
  color: lightskyblue;
}

@keyframes blink {
  0% {background: #AAA;}
  49% {background: #AAA;}
  60% {background: transparent;}
  99% {background: transparent;}
  100% {background: #AAA;}
}
