{% import "macros.html" as macros %}

<div id="looper-{{nth}}" class="looper {% if class %}{{class}}{% endif %}">
  <noscript>
    <audio loop controls>
      <source src="{{filepath}}.ogg">
      <source src="{{filepath}}.mp3">
    </audio>
  </noscript>
</div>

<script type="module">
  (async () => {
    const context = new AudioContext()
    
    let source
    let loopLength
    let playStart

    const playButton = document.createElement('button')
    playButton.id = 'play-{{nth}}'
    playButton.innerHTML = `{{ macros::icon(name='play', size="small", type="remix") }}`
    const stopButton = document.createElement('button')
    stopButton.id = 'stop-{{nth}}'
    stopButton.innerHTML = `{{ macros::icon(name='stop', size="small", type="remix") }}`

    const loopWrapper = document.getElementById('looper-{{nth}}')

    loopWrapper.appendChild(playButton)
    loopWrapper.appendChild(stopButton)

    playButton.addEventListener('click', async () => {
      // Disable play and set loading class. We don’t want people to start
      // multiple downloads/plays accidentally.
      playButton.classList.add('loading')
      playButton.setAttribute('disabled', 'disabled')

      // Fetch audio file. Error handling? Perhaps later.
      const arrayBuffer = await fetch('{{ get_url(path=filepath ~ ".mp3") | safe }}')
        .then(response => response.arrayBuffer())
      // Assume file is loaded. Remove loading class.
      playButton.classList.remove('loading')
      
      // Ok, do the buffer magic.
      const buffer = await context.decodeAudioData(arrayBuffer)
      source = context.createBufferSource()
      source.connect(context.destination)

      // This might be used later to create a "progress" animation?
      loopLength = buffer.duration

      source.buffer = buffer
      source.loop = true

      playButton.classList.add('playing')
      source.start(0)
    })
    
    stopButton.addEventListener('click', () => {
      playButton.classList.remove('loading', 'playing')
      playButton.removeAttribute('disabled')

      source.stop(0)
    })
  })()

</script>
