{% import "macros.html" as macros %}

<div id="looper-{{nth}}" class="looper {% if class %}{{class}}{% endif %}">
  <noscript>
    <audio loop controls src="{{filepath}}.mp3"></audio>
  </noscript>
</div>

<script type="module">
  (async () => {
    const context = new AudioContext()
    
    let source
    let isPlaying = false
    const avWidth = 200
    const avHeight = 40

    const playButton = document.createElement('button')
    playButton.id = 'play-{{nth}}'
    playButton.innerHTML = `{{ macros::icon(name='play', size="small", type="remix") }}`
    playButton.setAttribute('aria-label', 'Play loop')
    const stopButton = document.createElement('button')
    stopButton.id = 'stop-{{nth}}'
    stopButton.innerHTML = `{{ macros::icon(name='stop', size="small", type="remix") }}`
    stopButton.classList.add('stop')
    stopButton.setAttribute('aria-label', 'Stop loop')
    const avCanvas = document.createElement('canvas')
    avCanvas.id = 'av-{{nth}}'
    avCanvas.setAttribute('width', avWidth)
    avCanvas.setAttribute('height', avHeight)

    const loopWrapper = document.getElementById('looper-{{nth}}')

    loopWrapper.appendChild(playButton)
    loopWrapper.appendChild(stopButton)
    loopWrapper.appendChild(avCanvas)

    // Get the canvas context for the audio visualizer
    const canvasContext = avCanvas.getContext('2d')
    // And paint the baseline
    canvasContext.fillStyle = '#ffffff'
    const clearAvCanvas = () => {
      canvasContext.clearRect(0, 0, avWidth, avHeight)
      canvasContext.fillRect(0, avHeight / 2, avWidth, 1)
    }
    clearAvCanvas()

    playButton.addEventListener('click', async () => {
      // Disable play and set loading class. We don’t want people to start
      // multiple downloads/plays accidentally.
      playButton.classList.add('loading')
      playButton.setAttribute('disabled', 'disabled')
      isPlaying = true

      // Fetch audio file. Error handling? Perhaps later.
      const arrayBuffer = await fetch('{{ get_url(path=filepath ~ ".mp3") | safe }}')
        .then(response => response.arrayBuffer())
      // Assume file is loaded. Remove loading class.
      playButton.classList.remove('loading')
      
      // Ok, do the buffer magic.
      const buffer = await context.decodeAudioData(arrayBuffer)
      source = context.createBufferSource()
      source.connect(context.destination)
      const analyser = context.createAnalyser()
      const scriptProcessor = context.createScriptProcessor(1024, 1, 1)

      const amplitude = new Uint8Array(analyser.frequencyBinCount)

      source.connect(analyser)
      analyser.connect(scriptProcessor)
      scriptProcessor.connect(context.destination)

      scriptProcessor.onaudioprocess = () => {
        analyser.getByteTimeDomainData(amplitude)

        if (isPlaying) {
          window.requestAnimationFrame(() => {
            clearAvCanvas()
            for (let i = 0; i < amplitude.length; i++) {
              const ampValue = amplitude[i] / 256
              const y = avHeight - (avHeight * ampValue) - 1
              canvasContext.fillRect(i, y, 1, 1)
            }
          })
        }
      }

      source.buffer = buffer
      source.loop = true

      playButton.classList.add('playing')
      source.start(0)
    })
    
    stopButton.addEventListener('click', () => {
      if (source) {
        playButton.classList.remove('loading', 'playing')
        playButton.removeAttribute('disabled')
        isPlaying = false
        window.requestAnimationFrame(clearAvCanvas)

        source.stop(0)
      }
    })
  })()

</script>
