<div id="looper-{{nth}}" {% if class %}class="{{class}}"{% endif %}>
  <noscript>
    <audio loop controls>
      <source src="{{filename}}.ogg">
      <source src="{{filename}}.mp3">
    </audio>
  </noscript>
</div>

<script type="module">
  import looper from '{{ get_url(path="/looper.mjs", cachebust=true) | safe }}'

  looper('{{ get_url(path=filename ~ ".wav") | safe }}', (error, { play, stop }) => {

    if (!error) {
      const playButton = document.createElement('button')
      playButton.id = 'play-{{nth}}'
      playButton.innerHTML = '⏵'
      const stopButton = document.createElement('button')
      stopButton.id = 'stop-{{nth}}'
      stopButton.innerHTML = '■'

      const loopWrapper = document.getElementById('looper-{{nth}}')

      loopWrapper.appendChild(playButton)
      loopWrapper.appendChild(stopButton)

      playButton.addEventListener('click', () => {
        const context = new AudioContext()
        play(context)
      })
      stopButton.addEventListener('click', stop)
    } else {
      console.error(error)
    }
  })
</script>
