{% import "macros.html" as macros %}

<span class="progress {{ type }} {% if class %}{{class}}{% endif %}">
  {% if type == "circular" %}    
    <svg viewBox="0 0 36 36">
      <path
        d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
        stroke-dasharray="{{ percentage }}, 100"
      />
    </svg>
  {% else %}
    <svg viewBox="0 0 144 36">
      <rect class="bg" width="144" height="24" y="6" />
      <rect class="bar" width="{{ (percentage / 100) * 144 }}" height="24" y="6" />
    </svg>
  {% endif %}
</span>