{% extends "games.html" %}

{% block content %}
  <div class="page-content">
    <h1>{{ page.title }}</h1>

    {{ page.content | safe }}
    <script>
      if (document.currentScript.parentElement) {
        const currentElement = document.currentScript.parentElement

        if (window.location.hash === '#console') {
          // We are in "console mode" (meaning game is started from Lemmy’s)
          // Hide page content like title and description
          currentElement.classList.add('hide')
        } else {
          // We are in "page mode". Show
          const $confirmButton = document.createElement('button')
          $confirmButton.innerText = 'Close'
          $confirmButton.onclick = () => {
            currentElement.classList.add('hide')
            window.location.hash = '#console'
          }
          currentElement.append($confirmButton)
        }
      }
    </script>
  </div>

  <noscript>
    <div class="alert">
      You must turn on JavaScript to play this game. We don’t use any tracking software.
    </div>
  </noscript>

  {% if page and page.extra and page.extra.css_file %}
    {% set css_path = "/games/" ~ page.extra.css_file ~ ".css" %}
    <link rel="stylesheet" type="text/css" href="{{ get_url(path=css_path, cachebust=true) | safe }}">
  {% endif %}

  {% if page and page.extra and page.extra.engine %}
    {% if page.extra.engine == "text-engine" %}
      <div id="output"></div>

      <div class="input">
        <span>&gt;</span><input id="input" autofocus spellcheck="false" autocomplete="off" autocorrect="off" enterkeyhint="Go!">
      </div>

      <script src="{{ get_url(path="/engines/text-engine/index.js", cachebust=true) | safe }}"></script>
      <script type="module">
        import gameDisk from '{{ get_url(path=current_path ~ "game.mjs", cachebust=true) | safe }}'
        loadDisk(gameDisk)
      </script>
    {% elif page.extra.engine == "kontra" %}
      <canvas id="game" width="600" height="360"></canvas>
      <script src="{{ get_url(path="/engines/kontra/kontra.min.js", cachebust=true) | safe }}"></script>
      <script type="module">
        kontra.init()
        kontra.initKeys()
        kontra.initPointer()
      </script>
      <script src="{{ get_url(path=current_path ~ "game.mjs", cachebust=true) | safe }}" type="module"></script>
    {% endif %}
  {% endif %}

  <footer>
    <nav>
      <br>
      <nav class="pager">
        <div class="prev">
          {% if page.higher %}
            <a href="{{ page.higher.permalink }}" rel="prev">[&lt;] {{ page.higher.title }}</a>
          {% endif %}
        </div>
        <div class="index">
          <a href="/games/">[⌃] Back to Lemmy’s</a>
        </div>
        <div class="next">
          {% if page.lower %}
            <a href="{{ page.lower.permalink }}" rel="next">{{ page.lower.title }} [&gt;]</a>
          {% endif %}
        </div>
      </nav>
    </nav>
  </footer>
{% endblock content %}
