<!doctype html>
<html lang="en" class="noJS">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" type="text/css" href="{{ get_url(path="/games/style.css", cachebust=true) | safe }}">
    <link rel="preload" as="font" type="font/woff" href="{{ get_url(path="/fonts/VictorMono-Thin.woff") }}" crossorigin="anonymous">

    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>
    <div id="closer">[✕]</div>
    <script>
      const frameElement = window.frameElement
      if (frameElement) {
        document.body.className = 'framed'
        document.getElementById('closer').onclick = () => {
          frameElement.parentElement.remove()
        }
      }
    </script>

    {% block content %}
      <section class="games">
        <h1>Games</h1>

        <p>
          I’ve always wanted to make a game.
        </p>

        <ul>
          {% for game in section.pages %}
            <li>
              <a href="{{ game.permalink }}">{{ game.title }}</a> [{{ game.date }}] -- engine: {{ game.extra.engine }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endblock content %}
  </body>
</html>
