{% import "macros.html" as macros %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {% if current_path %}
      {% set og_page_url = current_path | trim_end_matches(pat="/") | replace(from="/", to=" SLASH ") %}
      {% set og_title = "Spitlo.com Corporate Overlord Protection Activated" %}
    {% else %}
      {% set og_page_url = "" %}
      {% set og_title = config.title %}
    {% endif %}

    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:url" content="https://deletefacebook.com/" />
    <meta property="og:image" content="{{ get_url(path="/images/og.png", cachebust=true) | safe }}" />
    <meta property="og:description" content="This link is probably tracked. Please visit spitlo DOT com{{ og_page_url }}" />

    {% if page and page.description %}
      <meta name="description" content="{{ page.description }}">
    {% elif section and section.description %}
      <meta name="description" content="{{ section.description }}">
    {% endif %}

    <title>{% if section.title %}{{ section.title }} / {% endif %}{% if page.title %}{{ page.title }} / {% endif %}{{ config.title }}</title>

    {% if config.generate_feed %}
      <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{ get_url(path="atom.xml", trailing_slash=false) | safe }}">
    {% endif %}

    <link rel="preload" as="font" type="font/woff" href="{{ get_url(path="/fonts/GangsterGrotesk-Bold.woff") }}" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff" href="{{ get_url(path="/fonts/VictorMono-Thin.woff") }}" crossorigin="anonymous">

    <link href="{{ get_url(path="/style.css", cachebust=true) | safe }}" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="{{ get_url(path="/images/favicon.svg", cachebust=true) | safe }}">

    {% block extra_head %}{% endblock extra_head %}
  </head>

  {% set body_class = "circles" %}
  {% set main_section = "home" %}
  {% if current_path %}
    {% if current_path is starting_with("/code") %}
      {% set body_class = "squares" %}
      {% set main_section = "code" %}
    {% elif current_path is starting_with("/music") %}
      {% set body_class = "triangles" %}
      {% set main_section = "music" %}
    {% elif
      current_path is starting_with("/tags") or
      current_path is starting_with("/technologies") or
      current_path is starting_with("/categories")
    %}
      {% set main_section = "tags" %}
    {% elif current_path == "/" %}
      {% set main_section = "home" %}
    {% endif %}
  {% else %}
    {# This is sort of a crude work-around for now, revisit? #}
    {% set main_section = "not-found" %}
  {% endif %}

  {% if page and page.extra and page.extra.content_class %}
    {% set content_class = page.extra.content_class %}
  {% elif section and section.extra and section.extra.content_class %}
    {% set content_class = section.extra.content_class %}
  {% else %}
    {% set content_class = "" %}
  {% endif %}

  <body class="{% block body_class %}{{ body_class }}{% endblock body_class %}">
    <div class="contentWrapper {{ content_class }}">
       <header id="top">
        <div class="logo {{ main_section }}">
          <a href="/">spitlo.com</a>
          <label for="search" class="slash">/</label>
          <input type="text" id="search" autocomplete="off">
          <span id="questionMark">?</span>
          <div id="search-results">
            <ul id="search-results-items"></ul>
        </div>
        </div>

        <nav>
          <ul>
            <li><a href="/" class="{% if main_section == "home" %}active{% endif %}">home</a></li>
            <li><a href="/code/" class="{% if main_section == "code" %}active{% endif %}">code</a></li>
            <li><a href="/music/" class="{% if main_section == "music" %}active{% endif %}">music</a></li>
            <li><a href="/tags/" class="{% if main_section == "tags" %}active{% endif %}">tags</a></li>
          </ul>
        </nav>

        <div class="colors" style="background-image: url(data:image/svg+xml,{{ macros::shapes(amount=24, width=680, height=100, type=body_class) | urlencode }});"></div>
      </header>

      <main>
        {% block breadcrumbs %}
          <nav class="breadcrumbs">
            {% if page and page.ancestors %}
              {% set ancestors = page.ancestors %}
            {% elif section and section.ancestors %}
              {% set ancestors = section.ancestors %}
            {% endif %}

            {% if ancestors %}
              {% for ancestor in ancestors %}
                {% set section = get_section(path=ancestor, metadata_only=true) %}
                <a class="crumb" href="{{ section.permalink }}">{{ section.title }}</a><span class="divider">&gt;</span>
              {% endfor %}
              <span class="crumb current">{% if page %}{{ page.title }}{% elif section %}{{ section.title }}{% endif %}</span>
              {% if page and page.later %}
                <span class="divider forward"><a href="{{ page.later.permalink }}" rel="next">&gt;</a></span>
              {% endif %}
            {% endif %}
          </nav>
        {% endblock breadcrumbs %}

        {% block content %}
          {% include "homepages/2021-04-29.latest-posts.html" %}
        {% endblock content %}
      </main>

      <footer id="bottom">
        <section class="details">
          {% set build_time = get_env(name="BUILD_TIME", default="unavailable") %}
          {% set site_version = get_env(name="SITE_VERSION", default="unavailable") %}
          {% set zola_version = get_env(name="ZOLA_VERSION", default="unavailable") | replace(from="zola ", to="") %}
          <span class="detail">
            Site:
            {% if site_version == "unavailable" %}
              <a href="https://github.com/spitlo/spitlo.github.io/" target="_blank" rel="noopener noreferrer">{{ site_version }}</a>
            {% else %}
              <a href="https://github.com/spitlo/spitlo.github.io/releases/tag/v{{ site_version }}" target="_blank" rel="noopener noreferrer">{{ site_version }}</a>
            {% endif %}
          </span>
          <span class="divider">|</span>
          <span class="detail">
            Zola:
            {% if zola_version == "unavailable" %}
              <a href="https://github.com/getzola/zola/" target="_blank" rel="noopener noreferrer">{{ zola_version }}</a>
            {% else %}
              <a href="https://github.com/getzola/zola/releases/tag/v{{ zola_version }}" target="_blank" rel="noopener noreferrer">{{ zola_version }}</a>
            {% endif %}
          </span>
          <span class="divider">|</span>
          <span class="detail">
            Built @
            {% if build_time == "unavailable" %}
              {% set build_time = now() %}
            {% endif %}
            <a href="https://www.britannica.com/on-this-day/{{ build_time | date(format="%B-%d") }}" target="_blank" rel="noopener noreferrer">{{ build_time | date(format="%Y-%m-%d %H:%M") }}</a> CET
          </span>
          <span class="divider">|</span>
        </section>
        <section class="credits">
          Technology icons from <a href="https://simpleicons.org/" target="_blank" rel="noopener noreferrer">Simple Icons</a><br>
          Category icons from <a href="https://remixicon.com/" target="_blank" rel="noopener noreferrer">Remix Icon</a><br>
          Fonts: <a href="https://www.freshfonts.io/" target="_blank" rel="noopener noreferrer">Gangster Grotesk</a> by <a href="http://www.adrienmidzic.fr/">Adrien Midzic</a> and <a href="https://rubjo.github.io/victor-mono/" target="_blank" rel="noopener noreferrer">Victor Mono</a> by <a href="https://github.com/rubjo">Rune B</a>
          <div class="hr"></div>
        </section>
        <section class="links">
          <span class="link">
            {{ macros::icon(name="github", size="small") }}<a href="https://github.com/spitlo" target="_blank" rel="noopener noreferrer">spitlo</a>
          </span>
          <span class="link">
            {{ macros::icon(name="threema", size="small") }}<a href="https://threema.id/XXX000" target="_blank" rel="noopener noreferrer">XXX000</a>
          </span>
          <span class="link">
            {{ macros::icon(name="protonmail", size="small") }}<a href="https://protonmail.com" target="_blank" rel="noopener noreferrer">__@spitlo.com</a>
          </span>
          {% if config.generate_feed %}
            <span class="link">
              {{ macros::icon(name="rss", size="small") }}<a href="{{ get_url(path="atom.xml", trailing_slash=false) }}" target="_blank" rel="noopener noreferrer">atom.xml</a>
            </span>
          {% endif %}
          <span class="link">
            {{ macros::icon(name="creative-commons", size="small") }}<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC-SA 4.0</a>
          </span>
          <span class="shadow link">
            <a href="#top">Back to top</a>
          </span>
        </section>
      </footer>
      <div class="heel {{ body_class }}" style="background-image: url(data:image/svg+xml,{{ macros::shapes(amount=32, width=1080, height=200, type=body_class) | urlencode }});"></div>

      {% include "partials/help.html" %}

      <div id="commandLineHints"></div>
      <div id="commandLine"></div>
      <audio id="player" controls autoplay></audio>
    </div>

    <script src="{{ get_url(path="search_index.en.js", cachebust=true) }}"></script>
    <script src="{{ get_url(path="elasticlunr.min.js", cachebust=true) }}"></script>
    <script src="{{ get_url(path="search.js", cachebust=true) }}"></script>
    <script src="{{ get_url(path="keyboard.js", cachebust=true) }}"></script>
  </body>
</html>
