{% macro icon(name, size="medium", colored=false) %}
  {% set slug = name | slugify %}
  <span class="icon {{slug}}{% if size %} {{size}}{% endif %}{% if colored %} colored{% endif %}"">
    {% set icon_path = "static/icons/"  ~  slug ~  ".svg" %}
    {% set icon_code = load_data(path=icon_path) %}
    {{icon_code | safe}}
  </span>
{% endmacro icon %}

{% macro shapes(amount=3, width=250, height=250, type="circles") %}
  {% set colors = [
    "#0e070c",
    "#e76f51",
    "#b1b098",
    "#3f5469",
    "#aa9f9f",
    "#dfcece",
    "#5a6c7e",
    "#5ca6a2",
    "#fff1f1",
    "#e30000",
  ] %}
  <svg width="{{width}}" height="{{height}}" xmlns="http://www.w3.org/2000/svg">
    <g>
      {% for i in range(start=0, end=amount) %}
        {% set max_size = width / 5|int(default=80) %}
        {% set color_amount = colors|length %}
        {% set color_index = get_random(start=0, end=color_amount) %}
        {% set color = colors[color_index] %}
        {% if type == "circles" %}
          {% set radius = get_random(start=30, end=max_size + 30) %}
          {% set cx = get_random(start=0, end=width) %}
          {% set cy = get_random(start=0, end=height) %}
          <ellipse rx="{{radius}}" ry="{{radius}}" cy="{{cy}}" cx="{{cx}}" fill="{{color}}"/>
        {% elif type == "squares" %}
          {% set size = get_random(start=30, end=max_size) * 2 %}
          {% set x = get_random(start=0, end=width) - size %}
          {% set y = get_random(start=0, end=height) - size %}
          <rect width="{{size}}" height="{{size}}" x="{{x}}" y="{{y}}" fill="{{color}}" />
        {% elif type == "triangles" %}
          {% set size = get_random(start=30, end=max_size) * 2 %}
          {% set x = get_random(start=0, end=width) - size %}
          {% set y = get_random(start=0, end=height) - size %}
          <polygon points="{{x}} {{y}}, {{x + size * 0.5}} {{y + size}}, {{x - size * 0.5}} {{y + size}}" fill="{{color}}" />
        {% endif %}
      {% endfor %}
    </g>
  </svg>
{% endmacro shapes %}
