@import "../constants";

a {
  color: #ffa500;
}

span {
  margin-left: 2vw;
  margin-right: .6vh;
}

#input {
  width: 98.5vh;
  background: transparent;
  border: none;
  position: relative;
  bottom: 0.175vh;
  margin-top: .1vh;
  margin-left: .8vh;
}

#input, .input, .user {
  height: 4vh;
  font-family: '3270', $paragraphFont;
  color: #ffa500;
  // font-size: 21px;
  font-size: 3vh;
}

#input:focus {
  outline: none;
}

#output {
  padding: 2vw 2vw 0 2vw;
  font-family: '3270', $paragraphFont;

  div {
    margin-bottom: 1vw;

    b {
      color: rgba(255, 174, 0, 1);
    }
  }

  .room-name {
    text-decoration: underline;
  }
}

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
}

.input {
  display: flex;
}

@keyframes blink {
  0% {
    background: #ffa500;
  }
  49% {
    background: #ffa500;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ffa500;
  }
}
