@import "../constants";

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#output {
  padding: 2vw 2vw 0 2vw;
}

#output div {
  margin-bottom: 1vw;

  b {
    color: rgb(255, 174, 0);
  }
}

.input {
  display: flex;
}

a {
  color: orange;
}

#input {
  width: 98.5vh;
  background: transparent;
  border: none;
  position: relative;
  bottom: 0.175vh;
  margin-left: .5vw;
}

#input, .input, .user {
  height: 4vh;
  font-family: $paragraphFont;
  color: orange;
  font-size: 2vh;
}

span {
  margin-left: 2vw;
  margin-right: .6vw;
}

#input:focus {
  outline: none;
}


@keyframes blink {
  0% {background: orange;}
  49% {background: orange;}
  60% {background: transparent;}
  99% {background: transparent;}
  100% {background: orange;}
}
