@import "text-engine";

.breathing-normal {
  color: #ff8012;
}

.breathing-hurried {
  color: #aaaf55;
}

.breathing-fast {
  color: #55b9aa;
}

.breathing-rapid {
  color: #00c3ff;
}


.breathing-hindered {
  color: #006eff;
}
