<svg viewBox="0 0 1100 420" xmlns="http://www.w3.org/2000/svg">
  <style>
    a:hover rect,
    a:hover circle,
    a:hover polygon {
      fill: #900;
    }
  </style>

  <rect width="100%" height="100%" x="0" y="0" fill="black" />
  <a href="/tags">
    <circle class="circleButton" cx="200" cy="190" r="150" stroke="#fff" stroke-width="1" stroke-dasharray="6 3" />
  </a>
  <a href="/code">
    <rect class="rectButton" width="300" height="300" x="400" y="40" stroke="#fff" stroke-width="1" stroke-dasharray="6 3" />
  </a>
  <a href="/music">
    <polygon class="polygonButton" points="900 40, 1050 340, 750 340" stroke="#fff" stroke-width="1" stroke-dasharray="6 3"/>
  </a>
</svg>
