<svg viewBox="0 0 1100 420" xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="100%" x="0" y="0" fill="black" />
  <a class="circleButton" href="/tags">
    <circle cx="200" cy="190" r="150" stroke="#fff" stroke-width="1" stroke-dasharray="6 3" />
    <text x="60" y="390" class="text">TAGS</text>
  </a>
  <a class="rectButton" href="/code">
    <rect width="300" height="300" x="400" y="40" stroke="#fff" stroke-width="1" stroke-dasharray="6 3" />
    <text x="400" y="390" class="text">CODE</text>
  </a>
  <a class="polygonButton" href="/music">
    <polygon points="900 40, 1050 340, 750 340" stroke="#fff" stroke-width="1" stroke-dasharray="6 3"/>
    <text x="760" y="390" class="text">MUSIC</text>
  </a>
</svg>
